body {
    background-color: lightgray;
}

#app{
    background-color: black;
    color: white;
    font-size: 30pt;
}

input {
    height: 50px;
    font-size: 20pt;
}

button {
    height: 55px;
    font-size: 12pt;
    position: relative;
    top: -5px;
}